.formulario {
    display: flex;
    justify-content: center;
    margin: 10px 0;

}

.formulario form {
    max-width: 80;
    background-color: #f2f2f2;
    border: 1px solid black;
    border-radius: 20px;
    padding: 18px 64px;
    box-shadow: 8px 8px rgba(0, 0, 0, 0.08);
}