.campo-texto {
    margin: 14px 0;
}

.campo-texto label {
    display: block;
    margin: bottom 8px;
    font-size: 14px;
}


.campo-texto input {
    background-color: #fff;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    width: 100%;
    border: none;
    font-size: 14px;
    padding: 14px;
    box-sizing: border-box;
}