.time {
    text-align: center;
    padding: 24px;
    /* background-color: #d9f7e9; */
}

.time h3 {
    font-size: 24px;
    border-bottom: 4px solid;
    display: inline-block;
    padding-bottom: 4px;
}

.time .colaboradores {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    flex-wrap: wrap;
}